.xp img{
    height: 118px;
    width: 118px;
    padding: 1em;
}

.name{
    font-size: 3em;
    font-weight: bold;
}


section.classmate img{
    height: 400px;
    width: 300px;
    border: 5px solid lightblue;
    border-radius: 10px;
}

.navbarbg{
    background-color: #263f57 !important;
}

.font-color-blue{
    color: rgb(37, 40, 189);
}

.column-left{
    float: left;
    width: 50%;
}
.column-right{
    float: right;
    width: 50%;
}
.row-after{
    clear: both;
}
.text-size{
    font-size:medium;
}
.text-size-xlarge{
    font-size: x-large;
}
.ul-padding{
    padding-left: 4em;
    font-weight: bold;
    
}
.clear-float{
    clear: both;
}

.bg-prime {
    background: #263f57  !important;
  }

  .customnavigation {
    padding: 20px 130px;
    transition: 0.3s ease;
  }

  .navbar-brand-custom {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  .logo{
    height: .5em !important;
    width: 1em !important;
    padding: 1em !important;
}